@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-panel-background: #1e293b;
  --color-solid-resize-bar-handle: #3b82f6;
}

.zoompanflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.zoompanflow .reactflow-wrapper {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .zoompanflow {
    flex-direction: row;
  }
}

.react-flow__controls-button {
  background: #1e293b !important;
  border-bottom: 1px solid #3b82f6 !important;
  color: white !important;
  fill: white !important;
}

.react-flow__panel {
  @apply border-brand-dark overflow-hidden rounded-lg border-[1px];
  margin: 5px !important;
  padding: 0px !important;
}

.react-flow__attribution {
  font-size: 10px;
  background: #1e293b !important;
  padding: 0 4px !important;
}

.react-flow__node.selected > div {
  @apply border-evelan-primary dark:border-evelan-accent;
}

.dots {
  background: linear-gradient(180deg, transparent 0, #f8fafc 300px),
    fixed 0 0 /20px 20px radial-gradient(#64748b 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#64748b 1px, transparent 0);
}

.dark .dots {
  background: linear-gradient(180deg, transparent 0, #0f172a 300px),
    fixed 0 0 /20px 20px radial-gradient(#64748b 1px, transparent 0),
    fixed 10px 10px /20px 20px radial-gradient(#64748b 1px, transparent 0);
}
